@model DotNetCoreWeb.Models.sysSecurity

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>sysSecurity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="UID" class="control-label"></label>
            <input asp-for="UID" class="form-control" />
            <span asp-validation-for="UID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="LoginID" class="control-label"></label>
                <input asp-for="LoginID" class="form-control" />
                <span asp-validation-for="LoginID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" maxlength="1"/>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDate" class="control-label"></label>
                <input asp-for="SDate" class="form-control" maxlength="8"/>
                <span asp-validation-for="SDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDate" class="control-label"></label>
                <input asp-for="EDate" class="form-control"  maxlength="8"/>
                <span asp-validation-for="EDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

